.life {
	text-align:center;
}
.top-buffer {
	margin-top:20px;
}
.infectCounter {
  font-size: 300%;
  font-weight: bold;
}
.lifeChangerButton {
	height: 7vh;
	font-size: 3vh;
	font-weight: bold;
}
.winCounterButton {
	background-color: WHITE;
	border-color: BLACK;
	font-weight: bolder;
}
#plusButton1P1Group {
	width: 150%;
}
#plusButton5P1Group {
	width: 50%;
}
#minusButton1P1Group {
	width: 150%;
}
#minusButton5P1Group {
	width: 50%;
}
#plusButton1P2Group {
	width: 150%;
}
#plusButton5P2Group {
	width: 50%;
}
#minusButton1P2Group {
	width: 150%;
}
#minusButton5P2Group {
	width: 50%;
}
win1p1, win2pq {
	align-items: flex-start;
}
