.life {
	text-align:center;
}
.playerName {
	text-align:center;
	font-size: 200%;
	font-weight: bold;
}
.top-buffer {
	margin-top:20px;
}

.infectCounter {
  font-size: 300%;
  font-weight: bold;
}
.playerRounds {
  font-weight: bold;
}
